body {
    font-family: "Livvic";
}

.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.btn-primary {
    margin: 2rem auto;
}

.card {
    border: none;
    padding: 1rem;
}

.center {
    text-align: center;
    padding-bottom: 4rem;
}

.col-container {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    padding: 2rem;
}

.col-container:hover {
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 0.5rem lightgray;
    z-index: 20;
}

.card-body,
.col-container,
.btn {
    text-align: center;
}

.cursor {
    position: absolute;
    pointer-events: none;
    transition: 0.1s;
    z-index: 1050;
}

.features {
    margin-top: 18rem;
}

.green-btn {
    background-color: #c1f8ec;
    border: none;
    color: #050808;
}

.green-btn:hover {
    background-color: #00dad8;
    color: #ffffff;
}

.green-btn:active {
    background-color: #1e6d6c;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

h1 {
    color: #2b0423;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
    text-align: center;
}

h2 {
    color: #2b0423;
    margin: 0 auto 2rem;
    text-align: center;
}

h3 {
    color: #2b0423;
    margin: 2rem auto;
    text-align: center;
}

#hero-gif {
    width: 75%;
    box-shadow: 0 0 0.5rem lightgray;
}

.icon {
    margin: 0 0.5rem;
}

.jumbotron {
    background: linear-gradient(rgba(256, 256, 256, 0.7), rgba(256, 256, 256, 0.7)), url('../images/hero.jpg') right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lead {
    text-align: center;
    margin: 2rem auto;
}

#menu-login {
    background-color: #ffffff;
    border: 1px #c1f8ec solid;
    color: #00dad8;
}

#menu-login:active {
    background-color: #7a8686;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

#menu-login:focus,
.green-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 248, 236,.5);
}

#menu-login:hover {
    background-color: #00dad8;
    color: #ffffff;
}

#menu-signup {
    margin: 1rem;
}

.mockup {
    padding: 0.1rem 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-footer {
    background-color: #c1f8ec;
}

.navbar-footer a {
    color: #000000;
}

.navbar-top {
    background-color: #ffffff;
}

#overlap {
    margin-bottom: -16rem;
    text-align: center;
    z-index: 10;
}

.testimonials p {
    color: #2b0423;
}

.persona {
    text-align: center;
}

.persona img {
    width: 10rem;
}

.purple-btn {
    background-color: #842d72;
    border: none;
    color: #ffffff !important;
    margin-top: 1rem;
}

.purple-btn:active {
    background-color: #3a042f;
    border: none;
    color: #a06495;
    box-shadow: none;
}

.purple-btn:focus {
    box-shadow: none;
}

.purple-btn:hover {
    background-color: #a06495;
    border: none;
    color: #3a042f;
}

.social {
    text-align: right;
}

.tagline {
    text-align: center;
}

.testimonials {
    background-color: #f2f2f2;
    padding: 1rem;
    margin-bottom: 4rem;
}

.quote {
    margin: 1rem;
}

/* Media queries (to complete later) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #hero-gif {
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }